body {
  background-color: #f7fafb;
}

.App {
  width: 1100px;
  margin: auto;
}

.graphContainer {
  width: 1100px;
  height: 1100px;
  margin-bottom: 2em;
  background-color: white;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.controls {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.custom-toggle.react-toggle--checked .react-toggle-track {
  background-color: #1976d2;
}

.custom-toggle.react-toggle:hover .react-toggle-track {
  background-color: #4d4d4d !important;
}

.custom-toggle.react-toggle--checked:hover .react-toggle-track {
  background-color: #1976d2 !important;
}
